
.fondito {
    background-color: #060436;
    padding: 2rem;
}

.pag {
    background: #01001C;
   
}

.puntitos {
    position: relative;
    overflow: hidden;
}

.puntitos::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("punticos.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(2px);
    opacity: 0.3;
    z-index: -1;
}


.ondas {
    position: relative;
    overflow: hidden;
}

.ondas::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("punticos2svg.svg");
    background-size: 121%;
    background-position: top left;
    background-repeat: no-repeat;
    filter: blur(3px);
    opacity: 0.35;
    z-index: -1;
}


.gira {
    max-width: 70px;
    transition: transform 1s ease;
}
.gira:hover {
    transform: rotate(180deg);
}


.qr {
    animation: glow 2.5s ease-in-out infinite;
}

@keyframes glow {
    0%, 100% {
        filter: drop-shadow(0 0 5px rgba(255,255,255,0.2));
    }

    50% {
        filter: drop-shadow(0 0 18px rgba(255,255,255,0.6));
    }
}


